@use '../abstracts/' as *;

.attribution {
  font-size: 0.7rem;
  text-align: center;
  margin: 1rem;

  @include breakpoint {
    color: var(--clr-neutral-100);
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
