@use '../abstracts/' as *;

.form {
  display: grid;

  @include breakpoint {
    grid-template-columns: 1fr 400px;
    background-color: var(--clr-neutral-100);
    max-width: 58rem;
    border-radius: 36px;
    padding: 1.5rem;
    box-shadow: 0px 15px 60px hsla(0, 0%, 0%, 0.25);
  }
}

.form__content {
  padding: 2.5rem 1rem;

  @include breakpoint {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: calc(6.06rem - 1.5rem) 4rem calc(6.06rem - 1.5rem)
      calc(4rem - 1.5rem);
  }
}

.form__image {
  @include breakpoint {
    grid-column-start: 2;
  }

  img {
    width: 100%;
  }
}

.form__form {
  margin-top: 2.5rem;
}

.form__form div {
  position: relative;
}

.form__form label {
  font-weight: 700;
  font-size: var(--fs-300);
}

.form__form input {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 8px;

  &::placeholder {
    color: hsla(var(--clr-neutral-700-hsl), 0.5);
  }

  &.error {
    border: 1px solid var(--clr-primary-400);
    background-color: hsla(var(--clr-primary-400-hsl), 0.15);
    color: var(--clr-primary-400);
  }
}

dialog[open] {
  display: grid;
}

.success {
  align-content: space-between;
  min-height: 100vh;
  place-self: center;
  background-color: var(--clr-neutral-100);
  padding: 2.5rem 1rem;
  max-width: initial;
  max-height: initial;
  border: none;

  &::backdrop {
    background-color: var(--clr-neutral-700);
  }

  button {
    --flow-space: 2.5rem;
  }

  @include breakpoint {
    max-width: 31.5rem;
    min-height: initial;
    border-radius: 36px;
    padding: 3rem 4rem 4rem 4rem;
    box-shadow: 0px 15px 60px hsla(0, 0%, 0%, 0.25);
  }
}

.success__message {
  margin-top: 6.87rem;

  @include breakpoint {
    margin-top: 0;
  }

  h1 {
    --flow-space: 2.5rem;
  }
}

.error-message {
  position: absolute;
  right: 0;
  color: var(--clr-primary-400);
  font-weight: 700;
  font-size: var(--fs-300);
}
