$colors: (
  primary: (
    400: hsl(4, 100%, 67%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    400: hsl(231, 7%, 60%),
    600: hsl(235, 18%, 26%),
    700: hsl(234, 29%, 20%),
  ),
);

$colors-hsl: (
  primary: (
    400: '4, 100%, 67%',
  ),
  neutral: (
    100: '0, 0%, 100%',
    400: '231, 7%, 60%',
    600: '235, 18%, 26%',
    700: '234, 29%, 20%',
  ),
);
